.main_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.block {
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

#submit, #result {
    margin-top: 20px;
}

#result {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .main_wrapper {
        flex-direction: column;
    }
    .block {
        margin: 0 auto 20px auto;
    }
}
   
img{
    max-width: 500px;
    max-height: 500px;
}

